In [33]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder
from sklearn import tree
df = pd.read_csv("salaries.csv")
df

         rank discipline  yrs.since.phd  yrs.service   sex  salary
0        Prof          B             19           18  Male  139750
1        Prof          B             20           16  Male  173200
2    AsstProf          B              4            3  Male   79750
3        Prof          B             45           39  Male  115000
4        Prof          B             40           41  Male  141500
..        ...        ...            ...          ...   ...     ...
392      Prof          A             33           30  Male  103106
393      Prof          A             31           19  Male  150564
394      Prof          A             42           25  Male  101738
395      Prof          A             25           15  Male   95329
396  AsstProf          A              8            4  Male   81035

[397 rows x 6 columns]

In [52]:
y = df.iloc[:,5]
X = df.drop(columns = ['salary'])
print(X.dtypes)
X['rank'] = X['rank'].astype('category')
X['discipline'] = X['discipline'].astype('category')
X['sex'] = X['sex'].astype('category')
print(X.dtypes)
# enc = OneHotEncoder(handle_unknown='ignore')
# enc.fit(X[' '])
# enc.categories_
# X = enc.transform(X).toarray()

rank             object
discipline       object
yrs.since.phd     int64
yrs.service       int64
sex              object
dtype: object
rank             category
discipline       category
yrs.since.phd       int64
yrs.service         int64
sex              category
dtype: object

In [53]:
clf = tree.DecisionTreeRegressor()
clf = clf.fit(X, y)
tree.plot_tree(clf)

ValueError: could not convert string to float: 'Prof'