### Importing bank account data

In [164]:
import pandas as pd 
#read_csv
df = pd.read_csv('./data/pcbanking.csv', header=None)

#give column names and drop useless columns
df.columns = ['Date', 'Amount', '-', 'Type', 'Details']
df = df.drop(columns='-')

#set date column to dateTime dtype. 
df['Date'] = pd.to_datetime(df.Date)
df

,Date,Amount,Type,Details
0,2020-12-29,-6.71,POS Purchase,OPOS Amazon Channels amazo
1,2020-11-27,-6.71,POS Purchase,OPOS Amazon Channels amazo
2,2020-11-20,1425.00,Cash Management,UBC CAD GENERAL
3,2020-09-18,-43.68,POS Purchase,OPOS Amazon.ca Prime Membamazo
4,2020-09-15,500.00,Accounts Payable,UNIVERSITY OF BRITISH COLUMBIA
...,...,...,...,...
628,2019-01-02,-1.00,POS Purchase,OPOS 50.00 GOOGLE *SERVICg.co/
629,2019-01-02,-0.00,Service Charge,MB-FREE EMAIL MONEY TRF
630,2019-01-02,-10.00,WITHDRAWAL,MB-EMAIL MONEY TRF
631,2019-01-02,-20.00,POS Purchase,COINAMATIC CANADA INC. KELOW
632,2019-01-02,-7.61,POS Purchase,FPOS JUGO JUICE CALGA

### Month in which most money was spent.

In [165]:
# groupby each 1 month
dg = df.groupby(pd.Grouper(key='Date', freq='1M')).sum() 
dg.index = dg.index.strftime('%B %Y')
#month with most money spent. 
dg.idxmin()

Amount    July 2019
dtype: object

### Month in which most amount was deposited.

In [163]:
#month with least money spent. 
dg.idxmin()

Amount    July 2019
dtype: object